td {
    color: maroon;
    padding: 10px;
    
}

table {
    border-color: blueviolet;
    margin-left: 10px;
}

body {
    background-color: floralwhite;
}

#warnaubah {
    color: chocolate;
}

.jarakkekiri {
    margin-left: 20px;
}